
<section class="todoapp">
			<header class="header">
				<h1>Login </h1>
            <%= form_tag("/login") do %> 
            <%# form_tag(session_path) do %> 
                <%= text_field_tag :username, nil, placeholder: 'username', :class => "new-todo"%>
                <%= password_field_tag :password, nil, placeholder: 'password', :class => "new-todo" %>
                <%= submit_tag "Login"%>
            <% end %>

			</header>
		</section>
